<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CSE Motors - CSE 340 App">
    <meta property="og:url" content="https://cse-340-eqb3.onrender.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Eric Arthur">
    <meta name="description" content="My site on how to improve backend web development.">
    <title><%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>